.sidebar {
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  width: 72px;
  background-color: white;
  z-index: 1;
}

.sidebar img {
  height: 24px;
}

.box-icon {
  display: flex;
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition:  background-color 0.15s;
}

.box-icon:hover {
  cursor: pointer;
  background-color: rgb(233, 233, 233);
}

.box-icon div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding-top: 6px;
}